<%- include('/header', { title: "TenLord" }) %>

<body>


    <div class="login-container">
        <h2>Login </h2>
        <form action="#" method="POST" class="login-form">
            <div class="input-group">
                <label for="username">Email Address / Phone Number</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="login-btn">Login</button>
        </form>
        <div class="signup-link">
            <p>Don't have an account? <a href="#">Sign up</a></p>
        </div>
    </div>

</html>
    
</body>
</html>